In [2]:
# Write a Python program to create a tuple.
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [3]:
# Write a Python program to create a tuple with different data types.
t=("tuple", False, 3.2, 1)
print(t)

('tuple', False, 3.2, 1)

In [4]:
# Write a Python program to create a tuple with numbers and print one item.
#Create a tuple with numbers
t = 5, 10, 15, 20, 25
print(t)
#Create a tuple of one item
t = 5,
print(t)

(5, 10, 15, 20, 25)
(5,)

In [6]:
# Write a Python program to unpack a tuple in several variables

#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3= tuplex

(4, 8, 3)
15

In [7]:
# Write a Python program to add an item in a tuple.

t = (4, 6, 2, 8, 3, 1) 
print(t)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
t = t + (9,)
print(t)
#adding items in a specific index
t = t[:5] + (15, 20, 25) + t[:5]
print(t)
#converting the tuple to list
listx = list(t) 
#use different ways to add items in list
listx.append(30)
t= tuple(listx)
print(t)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

In [9]:
# Write a Python program to convert a tuple to a string.
t = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(t)
print(str)

exercises

In [11]:
# Write a Python program to get the 4th element and 4th element from last of a tuple.
#Get an item of the tuple
tuplex = ("H",  "a", "r", "i", "s", "h")
print(tuplex)
#Get item (4th element)of the tuple by index
item = tuplex[3]
print(item)
#Get item (4th element from last)by index negative
item1 = tuplex[-4]
print(item1)

('H', 'a', 'r', 'i', 's', 'h')
i
r

In [12]:
# Write a Python program to create the colon of a tuple.
from copy import deepcopy
#create a tuple
tuplex = ("HELLO", 5, [], True) 
print(tuplex)
#make a copy of a tuple using deepcopy() function
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('HELLO', 5, [], True)
('HELLO', 5, [50], True)
('HELLO', 5, [], True)

In [14]:
# Write a Python program to find the repeated items of a tuple.

tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [15]:
# Write a Python program to check whether an element exists within a tuple.
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [16]:
# Write a Python program to convert a list to a tuple.

#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

In [20]:
# Write a Python program to remove an item from a tuple.
#create a tuple
t = "h",  "a", "r", "i", "s", "h"
print(t)
#tuples are immutable, so you can not remove elements
#using merge of tuples with the + operator you can remove an item and it will create a new tuple
t = t[:2] + t[3:]
print(t)
#converting the tuple to list
listx = list(t) 
#use different ways to remove an item of the list
listx.remove("h") 
#converting the tuple to list
tup = tuple(listx)
print(tup)

('h', 'a', 'r', 'i', 's', 'h')
('h', 'a', 'i', 's', 'h')
('a', 'i', 's', 'h')

In [23]:
# Write a Python program to slice a tuple.
#create a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
slice = tuplex[3:5]
print(slice)

(5, 4)

In [24]:
# Write a Python program to find the index of an item of a tuple.
#create a tuple
tuplex = tuple("index tuple")
print(tuplex)
#get index of the first item whose value is passed as parameter
index = tuplex.index("p")
print(index)
#define the index from which you want to search
index = tuplex.index("p", 5)
print(index)
#define the segment of the tuple to be searched
index = tuplex.index("e", 3, 6)
print(index)
#if item not exists in the tuple return ValueError Exception
index = tuplex.index("y")

('i', 'n', 'd', 'e', 'x', ' ', 't', 'u', 'p', 'l', 'e')
8
8
3

ValueError: tuple.index(x): x not in tuple

In [25]:
#  Write a Python program to find the length of a tuple.
t=1,2,3,4,5
print(len(t))

5

In [26]:
# Write a Python program to convert a tuple to a dictionary.
t = ((2, "h"),(3, "s"))
print(dict((y, x) for x, y in t))

{'h': 2, 's': 3}

In [29]:
# Write a Python program to reverse a tuple.
x = ("harishsharma")
# Reversed the tuple
y = reversed(x)
print(tuple(y))
#create another tuple
x = (5, 10, 15, 20)
# Reversed the tuple
y = reversed(x)
print(tuple(y))

('a', 'm', 'r', 'a', 'h', 's', 'h', 's', 'i', 'r', 'a', 'h')
(20, 15, 10, 5)

In [30]:
# Write a Python program to convert a list of tuples into a dictionary.
#create a list
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [32]:
# Write a Python program to print a tuple with string formatting.
t = (100, 200, 300)
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)

In [33]:
# Write a Python program to replace last value of tuples in a list.
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [34]:
# Write a Python program to remove an empty tuple(s) from a list of tuples.
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [35]:
# Write a Python program to sort a tuple by its float element.

price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [37]:
# Write a Python program to count the elements in a list until an element is a tuple.
num = [10,20,30,(10,20),40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

In [39]:
# Reverse the following tuple
# aTuple = (10, 20, 30, 40, 50)
aTuple = (10, 20, 30, 40, 50)
b=reversed(aTuple)
print(tuple(b))

(50, 40, 30, 20, 10)

In [41]:
# Access value 20 from the following tuple
# aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [42]:
# Unpack the following tuple into 4 variables

aTuple = (10, 20, 30, 40)
a, b, c, d = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [43]:
# Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [44]:
# Copy element 44 and 55 from the following tuple into a new tuple

tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [1]:
# Modify the first item (22) of a list inside a following tuple to 222

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [2]:
# Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [3]:
# Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [4]:
# Check if all items in the following tuple are the same
def check(sampleTuple):
    return all(i == sampleTuple[0] for i in sampleTuple)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [5]:
# Given a list of tuples, write a Python program to sort the tuples by the second item of each tuple.
def Sort_Tuple(tup):  
  
    # reverse = None (Sorts in Ascending order)  
    # key is set to sort using second element of  
    # sublist lambda has been used  
    tup.sort(key = lambda x: x[1])  
    return tup  
  
# Driver Code  
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]  
  
# printing the sorted list of tuples 
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

In [6]:
# Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the cube of the number.
list1 = [0,1,2,4,6]
res = [(val, pow(val, 3)) for val in list1]
# main
print(res)

[(0, 0), (1, 1), (2, 8), (4, 64), (6, 216)]

In [7]:
# Given a list of tuples, write a Python program to check if an element of the list has duplicates. If duplicate exist, print the number of occurrence of each duplicate tuple, otherwise print “No Duplicates”.
import collections 
  
def count(listOfTuple): 
      
    flag = False
    val = collections.Counter(listOfTuple) 
    uniqueList = list(set(listOfTuple)) 
      
    for i in uniqueList: 
        if val[i]>= 2: 
            flag = True
            print(i, "-", val[i]) 
              
    if flag == False: 
        print("Duplicate doesn't exist") 
  
# Driver code 
listOfTuple = [('a', 'e'), ('b', 'x'), ('b', 'x'),  
               ('a', 'e'), ('b', 'x')]  
count(listOfTuple)

('a', 'e') - 2
('b', 'x') - 3

In [9]:
# Given a list of tuples, write a Python program to remove all the duplicated tuples from the given list.


# Python3 program to remove duplicate  
# tuples from list of tuples 
  
def removeDuplicates(lst): 
      
    return [t for t in (set(tuple(i) for i in lst))] 
          
# Driver code 
lst = [(1, 2), (5, 7), (3, 6), (1, 2)] 
print(removeDuplicates(lst))

[(1, 2), (5, 7), (3, 6)]

In [10]:
# Given a list of a tuple, the task is to remove all the tuples from list, if it’s greater than n (say 100). Let’s discuss a few methods for the same.
# initialising _list 
ini_tuple = [('b', 100), ('c', 200), ('c', 45), 
                         ('d', 876), ('e', 75)] 
  
# printing iniial_tuplelist 
print("intial_list", str(ini_tuple)) 
  
# removing tuples for condition met 
result = [i for i in ini_tuple if i[1] <= 100] 
  
# printing resultant tuple list 
print ("Resultant tuple list: ", str(result))

intial_list [('b', 100), ('c', 200), ('c', 45), ('d', 876), ('e', 75)]
Resultant tuple list:  [('b', 100), ('c', 45), ('e', 75)]

In [11]:
# Given a list of tuples, the task is to remove all tuples having duplicate first values from the given list of tuples.
# Input list initialization 
Input = [(12.121, 'Geeksforgeeks is best'),  
         (19212.22, 'India is best'),  
         (12.121, 'Cyware is best.'), 
         (923232.2323, 'Jiit is best')] 
  
# using set 
visited = set() 
  
# Output list initialization 
Output = [] 
  
# Iteration 
for a, b in Input: 
    if not a in visited: 
        visited.add(a) 
        Output.append((a, b)) 
  
# Printing 
print("Initial list of tuple is \n", Input) 
print("List of tuple after removing duplicates:\n ", Output)

Initial list of tuple is
 [(12.121, 'Geeksforgeeks is best'), (19212.22, 'India is best'), (12.121, 'Cyware is best.'), (923232.2323, 'Jiit is best')]
List of tuple after removing duplicates:
  [(12.121, 'Geeksforgeeks is best'), (19212.22, 'India is best'), (923232.2323, 'Jiit is best')]

In [13]:
# What will be the output of the following code snippet?
init_tuple = ()
print (init_tuple.__len__())
# the output will be zero

0

In [15]:
# What will be the output of the following code snippet?
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')
print (init_tuple_a == init_tuple_b)
# the output will be True

True

In [16]:
# What will be the output of the following code snippet?
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')
print (init_tuple_a + init_tuple_b)
# the output  willbe

('1', '2', '3', '4')

In [17]:
# What will be the output of the following code snippet?
init_tuple_a = 1, 2
init_tuple_b = (3, 4)
[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]

10

[None]

In [18]:
# What will be the output of the following code snippet?
init_tuple = [(0, 1), (1, 2), (2, 3)]
result = sum(n for _, n in init_tuple)
print(result)

6

In [19]:
# What will be the output of the following code snippet?
l = [1, 2, 3]
init_tuple = ('Python',) * (l.__len__() - l[::-1][0])
print(init_tuple)

()

In [20]:
# What will be the output of the following code snippet?
init_tuple = ('Python') * 3
print(type(init_tuple))

<class 'str'>

In [21]:
# What will be the output of the following code snippet?
init_tuple = (1,) * 3
init_tuple[0] = 2
print(init_tuple)

TypeError: 'tuple' object does not support item assignment

In [22]:
# What will be the output of the following code snippet?
init_tuple = ((1, 2),) * 7
print(len(init_tuple[3:8]))

4

# set assignment solution

In [23]:
# Write a Python program to create a set
x = set()
print(x)
#Create a non empty set
n = set([0, 1, 2, 3, 4])
print(n)

set()
{0, 1, 2, 3, 4}

In [24]:
# Write a Python program to iteration over sets.
num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
  print(n)

0
1
2
3
4
5

In [25]:
# Write a Python program to add member(s) in a set.
color_set = set()
color_set.add("Red")
print(color_set)
#Add multiple items
color_set.update(["Blue", "Green"])
print(color_set)

{'Red'}
{'Red', 'Green', 'Blue'}

In [27]:
# Write a Python program to remove item(s) from set
num_set = set([0, 1, 2, 3, 4, 5])
#Discard number 4
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 5}

In [28]:
# Write a Python program to remove an item from a set if it is present in the set.
num_set = set([0, 1, 2, 3, 4, 5])
#Discard number 4
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 5}

In [29]:
# Write a Python program to remove an item from a set if it is present in the set.
num_set = set([0, 1, 2, 3, 4, 5])
#Discard number 4
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 5}

In [30]:
# Write a Python program to create an intersection of sets.
#Intersection
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
setz = setx & sety
print(setz)

{'blue'}

In [31]:
# Write a Python program to create a union of sets.
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
seta = setx | sety
print(seta)

{'green', 'yellow', 'blue'}

In [32]:
# Write a Python program to create set difference.
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = setx & sety
print(setz)
#Set difference
setb = setx - setz
print(setb)

{'mango'}
{'apple'}

In [33]:
# Write a Python program to create a symmetric difference.
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
#Symmetric difference
setc = setx ^ sety
print(setc)

{'orange', 'apple'}

In [34]:
# Write a Python program to create a shallow copy of sets.
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
#A shallow copy
setr = setp.copy()
print(setr)

{'Red', 'Green'}

In [35]:
# Write a Python program to clear a set.
setp = set(["Red", "Green"])
setq = setp.copy()
print(setq)
setq.clear()
print(setq)

{'Red', 'Green'}
set()

In [36]:
# Write a Python program to use of frozensets.
x = frozenset([1, 2, 3, 4, 5])
y = frozenset([3, 4, 5, 6, 7])
#use isdisjoint(). Return True if the set has no elements in common with other. 
print(x.isdisjoint(y))
#use difference(). Return a new set with elements in the set that are not in the others.
print(x.difference(y))
#new set with elements from both x and y
print(x | y)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})

In [37]:
# Write a Python program to find maximum and the minimum value in a set.
#Create a set
seta = set([5, 10, 3, 15, 2, 20])
#Find maximum value
print(max(seta))
#Find minimum value
print(min(seta))

20
2

In [38]:
# Write a Python program to find the length of a set.
#Create a set
seta = set([5, 10, 3, 15, 2, 20])
#Find the length use len()
print(len(seta))

6

In [39]:
# Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

{'Black', 'Red', 'Yellow', 'Green', 'Blue', 'Orange'}

In [42]:
# Return a set of identical items from a given two Python set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [43]:
# Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [44]:
# Given two Python sets, update first set with items that exist only in the first set and not in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [45]:
# Remove 10, 20, 30 elements from a following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

In [46]:
# Return a set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [47]:
# Determines whether or not the following two sets have any elements in common. If yes display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

In [48]:
# Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [49]:
# Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [50]:
# Write a python program to generate an empty set and non-empty set as non_empty_set which provided in the following
num_set = set(['Python', 'Free', 'Exercises', 'Tutorials', 'Sets', 'Library'])
for n in num_set:
  print(n)

Library
Free
Sets
Exercises
Tutorials
Python